In [1]:
from models.DBManager import DBManager

In [2]:
manager = DBManager()

In [3]:
train_df, val_df = manager.getTrainValDfClass("C:/Users/antho/Documents/GitHub/data/VOCdevkit/VOC2012/", "aeroplane")

In [4]:
train_df.head()

        ImgName  Value
5   2008_000033      1
7   2008_000037      1
34  2008_000151      1
47  2008_000197      1
71  2008_000291      1

In [5]:
val_df.head()

         ImgName  Value
5    2008_000021      1
19   2008_000064      1
62   2008_000251      1
89   2008_000367      1
200  2008_000804      1