In [1]:
from models.DBManager import DBManager
voc2012path = "C:/Users/antho/Documents/GitHub/data/VOCdevkit/VOC2012/"

In [2]:
manager = DBManager()

In [3]:
vehicles = ["aeroplane", "boat", "bus", "car", "train"]
train_df_vehicle, val_df_vehicle = manager.getCombinedClassesDf(voc2012path, vehicles, "vehicle")

animals = ["bird", "cow", "dog", "sheep", "horse", "cat"]
train_df_animal, val_df_animal = manager.getCombinedClassesDf(voc2012path, animals, "animal")

In [4]:
print("Number of vehicles (train, val): {}, {},\n\
Number of animal (train, val): {}, {}".format(len(train_df_vehicle), len(val_df_vehicle),
                                              len(train_df_animal), len(val_df_animal)))

Number of vehicles (train, val): 1707, 1694,
Number of animal (train, val): 2139, 2133

In [5]:
train_df_vehicle.head()

        imgName className
5   2008_000033   vehicle
7   2008_000037   vehicle
34  2008_000151   vehicle
47  2008_000197   vehicle
71  2008_000291   vehicle

In [6]:
train_df_animal.head()

        imgName className
18  2008_000095    animal
20  2008_000097    animal
22  2008_000103    animal
27  2008_000131    animal
44  2008_000192    animal

In [7]:
train_df = manager.concatDataframes([train_df_vehicle, train_df_animal])
val_df = manager.concatDataframes([val_df_vehicle, val_df_animal])

In [8]:
train_df.head()

        imgName className
5   2008_000033   vehicle
7   2008_000037   vehicle
34  2008_000151   vehicle
47  2008_000197   vehicle
71  2008_000291   vehicle

In [9]:
train_df = manager.shuffleDf(train_df)
val_df = manager.shuffleDf(val_df)

In [10]:
train_df

          imgName className
0     2008_006000    animal
1     2010_001784    animal
2     2010_002456    animal
3     2008_006818   vehicle
4     2008_006728    animal
...           ...       ...
3841  2009_004560    animal
3842  2008_008701   vehicle
3843  2009_001091   vehicle
3844  2009_003652   vehicle
3845  2010_005854    animal

[3846 rows x 2 columns]

In [11]:
manager.createDb(voc2012path, train_df, "C:/Users/antho/Documents/GitHub/data/DB", "train")

In [12]:
manager.createDb(voc2012path, val_df, "C:/Users/antho/Documents/GitHub/data/DB", "val")